* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  color: #333333;
}

.content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header {
  height: 90px;
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 200px;

}

.header-icon, .form-icon {
  fill: #495E57;
}

.inactive {
  display: none;
}


.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 90px;
  right: 5%;
  background-color: #fff;
  z-index: 1;
  height: 400px;
  width: 90%;

}

.nav-link {
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 0;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 16pt;
  font-weight: 800;
}

.nav-link:hover {
  background-color: #495E57;
  color: #EDEEFF;
}

.action {
  width: 100%;
  height: 400px;
  background-color: #495E57;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.action .content {
  flex-wrap: nowrap;
  gap: 15px;
}


.action-image img  {

  height: 210px;
  border-radius: 16px;
  object-fit: cover;
  flex-grow: 1;
  flex-shrink: 1;
  width: 140px;

}

.action h1 {
  font-size: 4rem;
  font-family: 'Markazi Text', serif;
  color: #F4CE14;
  font-weight: 400;
  line-height: 3rem;
}

.action h2 {
  font-family: 'Markazi Text', serif;
  color: #EDEFEE;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2rem;
  padding-bottom: 25px;
}

.action h3, .banner h3 {
  color: #EDEFEE;
  font-size: 1.1rem;
  font-weight: 400;
}

.action-text {
  height: 210px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.action-image {
  width: 40%;
  display: flex;

}

.btn {
  background-color: #F4CE14;
  width: 150px;
  border-radius: 16px;
  height: 3rem;
  box-shadow: none;
  border: none;
  font-weight: 800;

}

.btn:hover {
  background-color: #EE9972;
  cursor: pointer;
}

.btn-link {
  text-decoration: none;
  font-weight: 800;

}

.specials {
  margin-top: 35px;
}

.specials .content {
  justify-content: center;
  gap: 20px;
}

.specials h1, .booking h1 {
  font-size: 20pt;
  font-weight: 800;
  text-transform: uppercase;

}

.cards {
  margin-top: 35px;
  column-gap: 20px;
  row-gap: 40px;

}

.card {
  flex-grow: 1;
  width: 290px;
  height: 590px;
  background-color: #EDEFEE;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.specials-text {
  padding: 20px 20px 0 20px;
}

.specials-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials-description {
  height: 200px;
  padding-top: 30px;

}

.specials-order {
  padding-top: 60px;
  display: inline-flex;
  gap: 5px;
  align-items: center;
}

.specials-order p {
  font-weight: 800;
}

.specials-order p:hover {
  color: #EE9972;
  cursor: pointer;
}

.specials p {
  color: #495E57;
  font-size: 16pt;
}

.specials h3 {
  font-size: 18pt;
  font-weight: 800;
}

.price {
  color: #EE9972;
  font-size: 16pt;
}

footer {
  margin-top: 35px;
  background-color: #495E57;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
  gap: 30px;
  text-align: center;
}

footer .content {
  gap: 30px;
  justify-content: center;
}

.footer-logo img {
  width: 100px;
}

footer nav {
  display: flex;
  flex-direction: column;

}

.doormat,
footer ul li {
  color: #EDEFEE;
  text-decoration: none;
  line-height: 1.5;
  list-style: none;
}

.doormat:hover {
  color: #EE9972;
}

footer h3 {
  color: #EDEFEE;
  padding-bottom: 1rem;
  font-weight: 800;
}

.footer-icon {
  fill: #EDEFEE;
  font-size: 32px;

}

.footer-icon:hover {
  fill: #EE9972;
  cursor: pointer;
}

.socials ul {
  width: 100%;
  justify-content: center;
  display: inline-flex;
  gap: 40px;
}

/* Styling the form */

select {
  border-radius: 5px;
  width: 300px;
  padding: 15px;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("./assets/dropdown.svg");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
}

.select-time {width: 150px;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
 border: none;
 margin: 0;
 width: 50px;
 font-weight: 600;
 font-size: 1.2rem;
}
input[type=number]:focus {
  outline: none;
}

.form-icon {
font-size: 2.5rem;
}

input, select {
  display: block;
  width: 270px;
  padding: 10px;
  border-radius: 5px;
  fill:#495E57;
  border: 1px solid #495E57;
  margin-top: 8px;
}

label {display: block;
font-weight: 600;
margin-top: 25px;}

::-webkit-calendar-picker-indicator {background-image: url(./assets/calendar-fill.svg);}

/* Form progress bar */
.progress {margin: 30px 0;
display: flex;
width: 100%;
text-align: center;
border: 1px solid #495E57;
border-radius: 5px;}

.selected, .notSelected {
  width: 50%;
  padding: 2px;
  font-weight: 500;
  font-size: 1rem;
  
  }
.selected {
  background-color: #495E57;
  color:#EDEEFF;
}

.notSelected {
  color: grey;
}


.btn:disabled {background-color: rgb(206, 204, 204);
color: grey;}

.guests {display: flex;
align-items: center;
gap: 10px;
height: 6rem;
}

.guests label {margin: 0;
margin-right: 20px;}

.occasion {
  margin: 0;
  margin-bottom: 0.8rem;
  }

.form-buttons {
  padding: 30px 0;
  display: flex;
  gap: 30px;
  justify-content: center;
}

/* booking page */
.booking .content {
  padding-top: 35px;
  height: auto;
  }

.booking-text {
  width: 100%;
}


.booking-image {
  display: none;
}


.invalid-input p {font-size: 0.8rem;
  color: red;}
.invalid-input {height: 0.8rem;}

.invalid {border: 1px solid red;}

.check-booking {margin-top: 40px;}

.confirmation {display: flex;
flex-direction: column;
gap: 50px;
height: 500px;
line-height: 1.5rem;}

.bold {font-weight: 800}

.confirmation .btn {
  margin-top: 30px;
}
@media screen and (max-width: 374px) {
  .content {
    width: 95%;
  }

  .action h1 {
    font-size: 3rem;
  }

  .specials h1, .booking h1 {
    font-size: 1.3rem;
  }

  .action-text {
    width: 70%;
    align-items: center;
  }

  .action-image {
    display: none;
  }

  .action .content {
    justify-content: center;
  }

  .specials .content {
    align-items: center;
  }
}

@media screen and (min-width: 550px) {

  .action h1 {
    font-size: 54pt;
  }

  .action h2 {
    font-size: 40pt;
  }

  * {
    font-size: 16pt;
  }

  .btn {
    width: 200px;
    font-weight: 800;
  }

  .card {
    max-width: 450px;
  }

  label {
    margin-top: 50px;
  }
  input, select {
    width: 300px;
  }
.progress {
  margin: 50px 0;
}
.booking .content {padding-top: 50px;

}
.guests {height: 8rem;}

.form-buttons {
  padding: 60px 0;
}
}

@media screen and (min-width: 768px) {
  .content {
    width: 85%;
  }

  .action img {
    height: 340px;
    width: 250px;
    position: absolute;
    top: 120px;
    right: 7%;
  }

  .booking-image {
    text-align: right;
    width: 40%;
    display: block;
  }
  .booking-text {
    width: 60%;
  }
}


.booking-image img {height: 340px;
width: 250px;
object-fit: cover;
border-radius: 16px;}

@media screen and (min-width: 1024px) {
  .specials .content {
    justify-content: space-between;
  }

  .specials .cards {
    justify-content: center;
  }

  .content {
    width: 70%;
  }

  .action img {
    right: 15%;
  }

  footer .content {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1290px) {
  .nav-link {
    width: auto;
    padding: 20px 15px;
    border-radius: 16px;
    font-weight: 800;
    font-size: 16pt;
    text-decoration: none;
    background-color: none;
  }

  .inactive {
    display: flex;
  }

  .nav-link:hover {
    background-color: #495E57;
    color: #EDEEFF;
  }

  .header-icon {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .action img, .booking-image img {
    width: 330px;
  }

  .card {
    max-width: 330px;
  }

  .btn {
    width: 250px;
  }

  .specials,
  footer,
  .cards {
    margin-top: 50px;
  }
  .progress {
    margin: 60px 0;
  }
}

@media screen and (min-width: 1700px) {
  .action img {
    width: 400px;
  }

  .card {
    max-width: 35%;
  }
}

